Docs/
Dataset_FakeAVCeleb/
.ipynb_checkpoints/
__pycache__/
.venv_gpu/
data/processed_frames/
data/processed_audio/
checkpoints/
.vscode/
PROJECT_LOG.md
PROJECT_FULL_DOC.md
archive/

CODE_EXPLAINER.md

PROJECT_FULL_DOC.odt
CODE_EXPLAINER.odt

PROJECT_FULL_DOC.pdf
CODE_EXPLAINER.pdf
